In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_excel('Automobile_data.xlsx', index_col=0)
df

,Make,Model,Variant,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Engine_Location,Fuel_System,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
Sl. No.,,,,,,,,,,,,,,,,,,,,,
1,Tata,Nano Genx,Xt,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,"Rear, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Xe,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,"Rear, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Emax Xm,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,"Rear, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xta,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,"Rear, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Tata,Nano Genx,Xm,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,"Rear, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,Skoda,Octavia,Onyx 1.8 Tsi Dsg,1798.0,4.0,4.0,FWD (Front Wheel Drive),In-line,"Front, Transverse",Injection,...,Yes,Yes,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN
784,Skoda,Octavia,Onyx 2.0 Tdi Dsg,1968.0,4.0,4.0,FWD (Front Wheel Drive),In-line,"Front, Transverse",Injection,...,Yes,Yes,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN
785,Mahindra,Verito,1.5 D2,1461.0,4.0,3.0,FWD (Front Wheel Drive),In-line,"Front, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,Mahindra,Verito,1.5 D4 Bs-Iv,1461.0,4.0,3.0,FWD (Front Wheel Drive),In-line,"Front, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,Mahindra,Verito,1.5 D6 Bs-Iv,1461.0,4.0,4.0,FWD (Front Wheel Drive),In-line,"Front, Transverse",Injection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.columns

Index(['Make', 'Model', 'Variant', 'Displacement', 'Cylinders',
       'Valves_Per_Cylinder', 'Drivetrain', 'Cylinder_Configuration',
       'Engine_Location', 'Fuel_System',
       ...
       'Leather_Wrapped_Steering', 'Automatic_Headlamps', 'Engine_Type',
       'ASR_/_Traction_Control', 'Cruise_Control', 'USB_Ports',
       'Heads-Up_Display', 'Welcome_Lights', 'Battery', 'Electric_Range'],
      dtype='object', length=138)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 787 entries, 1 to 787
Columns: 138 entries, Make to Electric_Range
dtypes: float64(12), int64(3), object(123)
memory usage: 854.6+ KB

There are 12 columns' dtype are float64, and 3 columns' dtype are int64, therefore, there are 15 columns are numerical type data.

In [15]:
df.describe()

,Displacement,Cylinders,Valves_Per_Cylinder,Fuel_Tank_Capacity_litre,Height_mm,Length_mm,Width_mm,Doors,City_Mileage_km_litre,Highway_Mileage_km_litre,Seating_Capacity,Boot_Space_litre,Minimum_Turning_Radius,Number_of_Airbags,USB_Ports
count,778.000000,747.000000,726.000000,768.000000,787.000000,787.000000,787.000000,785.000000,458.000000,299.000000,784.000000,656.000000,588.000000,704.000000,8.000000
mean,1515.865039,3.824632,3.889807,46.843620,1598.471410,4150.581957,1748.161372,4.681529,17.403384,18.654783,5.394133,358.439024,5.324235,3.014205,1.875000
std,562.367933,0.721209,0.453621,11.897565,131.977753,400.650726,110.858485,0.520476,6.360217,3.851954,1.016601,137.145321,1.037693,2.092409,0.991031
min,72.000000,2.000000,2.000000,15.000000,1304.000000,3164.000000,1410.000000,2.000000,4.450000,7.940000,2.000000,94.000000,4.000000,1.000000,1.000000
25%,1197.000000,3.000000,4.000000,37.000000,1510.000000,3895.000000,1695.000000,4.000000,13.300000,15.500000,5.000000,256.000000,4.900000,2.000000,1.000000
50%,1396.500000,4.000000,4.000000,45.000000,1560.000000,3995.000000,1735.000000,5.000000,16.300000,18.190000,5.000000,347.500000,5.200000,2.000000,1.500000
75%,1591.000000,4.000000,4.000000,55.000000,1655.000000,4445.000000,1814.000000,5.000000,20.890000,22.000000,5.000000,460.000000,5.400000,2.250000,3.000000
max,6592.000000,12.000000,4.000000,93.000000,2670.000000,5458.000000,2218.000000,5.000000,80.000000,25.320000,16.000000,981.000000,11.700000,10.000000,3.000000

In [26]:
# get the column names of numberical data
numerical_data_columns_name = []
categorial_data_columns_name = []
for col in df.columns:
    if df[col].dtypes == 'float64' or df[col].dtypes == 'int64':
        numerical_data_columns_name.append(col)
    else:
        categorial_data_columns_name.append(col)

numerical_data_columns_name

['Displacement',
 'Cylinders',
 'Valves_Per_Cylinder',
 'Fuel_Tank_Capacity_litre',
 'Height_mm',
 'Length_mm',
 'Width_mm',
 'Doors',
 'City_Mileage_km_litre',
 'Highway_Mileage_km_litre',
 'Seating_Capacity',
 'Boot_Space_litre',
 'Minimum_Turning_Radius',
 'Number_of_Airbags',
 'USB_Ports']

In [56]:
num_df = df[numerical_data_columns_name]
for item in num_df.columns:
    print(item)
    index = num_df[item].isna().value_counts().index
    value = num_df[item].isna().value_counts().values
    if len(index) == 1:
        if index[0] == False:
            print("No missing data")
    else:
        if index[0] == True:
            print(f'{value[0]} missing data')
        else:
            print(f'{value[1]} missing data')
    print()
# num_df['Displacement'].isna().value_counts().index

Displacement
9 missing data

Cylinders
40 missing data

Valves_Per_Cylinder
61 missing data

Fuel_Tank_Capacity_litre
19 missing data

Height_mm
No missing data

Length_mm
No missing data

Width_mm
No missing data

Doors
2 missing data

City_Mileage_km_litre
329 missing data

Highway_Mileage_km_litre
488 missing data

Seating_Capacity
3 missing data

Boot_Space_litre
131 missing data

Minimum_Turning_Radius
199 missing data

Number_of_Airbags
83 missing data

USB_Ports
779 missing data